prometheus-client
opentracing>=2,<3
thrift
threadloop>=1,<2
tornado>=4.3,<5
-e git+https://github.com/yurishkuro/jaeger-client-python.git@d631596415cb549a4e8314cc25d6c53fab710528#egg=jaeger-client
requests
